# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
.cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Logs and runtime
*.log
*.tmp
tmp*.json
*.tmp

# Jest coverage output
coverage/

# typescript
*.tsbuildinfo

# Env & secrets
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# iOS / Android native folders - Uncomment if you eject from Expo
# ios/
# android/

# eslint & Prettier
.eslintcache
.prettiercache

# Tailwind
.tailwind-cache/
.postcss-cache/

# Jest watch mode snapshot state
.jest/

